$font-family: "Roboto", "Arial", sans-serif;
//
$invert-base-color: #000000;
$base-color: #ffffff;
$sub-base-color: #f8f7f4;
$divider-color: #d3d3d2;

$prim-color: #849d8f;
$second-color: #8996a6;
$third-color: #9d8b84;

$prim-color-dark: #696969;
$prim-txt-color: #000000;
$second-txt-color: #323232;
$light-txt-color: #999999;
$invert-txt-color: #ffffff;

$accent-color: #e74a35;
$accent-color-light: #f26843;
$accent-color-dark: #ac1000;
$accent-color-10: lighten(#e74a35, 10%);
$accent-color-light-10: lighten(#f26843, 10%);
$accent-color-dark-10: lighten(#ac1000, 10%);

$accent-hov-color: #fbded7;
$accent-act-color: #f6b5a5;
$accent-cur-color: #d07058;

$accent-lnk-color: #ffbc9e;
$accent-lnk-invert-color: #e84d37;

$ext-padding: 2.3%;
$inner-padding: 2.2%;
$inner-padding_hf: 1.1%;

$ext-padding_catalog: $ext-padding - $inner-padding_hf;
