.banner {
  display: block;
  width: 48.84%;
  padding: 15px 20px;
  border-radius: 15px;
}

.banner--berry {
  background: $accent-color-dark url("../img/bg_berry.jpg") no-repeat center;
  background-size: cover;
}

.banner--choco {
  background: #381b09 url("../img/bg_choco.jpg") no-repeat center;
  background-size: cover;
}

.banner--blog {
  padding-top: 24px;
  background: $base-color url("../img/bg_blog.jpg") no-repeat center;
  background-size: cover;
}

.banner__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner__text {
  margin: 0;
  padding: 0;
  min-height: 89px;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banner__btn {
  margin-left: auto;
  margin-bottom: 10px;
}

.banner__title-blog {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $second-txt-color;
}

.banner__link {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 157px;
  width: 280px;
  overflow: hidden;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $second-txt-color;
}
