.page-footer {
  @include container;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 19px;
  padding-bottom: 12px;
  //justify-content: space-between;
}

.page-footer__copyright {
  width: 23.27%;
  margin-left: auto;
}

.page-footer__copyright-wrap {
  width: 190px;
  margin-left: auto;
}

.page-footer__copyright-txt {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.page-footer__copyright-logo:hover,
.page-footer__copyright-logo:focus {

}
