.paginator {
  @include container;
  margin-top: 49px;
  }

.paginator_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, .3) ;
}

.paginator__item {
  margin-right: 3px;
}

.paginator__item--next {
  margin-right: 0;
}

.paginator__link {
 display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: $invert-txt-color;
  text-align: center;
  border: none;
  text-decoration: none;
  transition: background-color 0.15s ;
  &:hover{
    border-radius: 50%;
    background-color:rgba(255, 255, 255, .2);
   // color: $second-txt-color;

  }
}
.paginator__link--current{
  border-radius: 50%;
  background-color:$base-color;
  color: $second-txt-color;

}
.paginator__link--prev {
  position: relative;
  font-size: 0;
  &::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid $base-color;
    border-left: 1px solid $base-color;

    transform: rotate(45deg);
  }

}
.paginator__link--disabled {
  opacity: 0.3;
}
.paginator__link--next {
 font-size: 0;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center right ;

}


