.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.schedule__time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.schedule__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
